@page
@model FinalProjectSmithAshley.Pages.Bunny.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Breeds</h1>
</div>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblBunny[0].Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblBunny[0].WeightLbs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblBunny[0].LengthInches)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblBunny[0].Lifespan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblBunny[0].Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblBunny[0].Domesticated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblBunny[0].Temperment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblBunny) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightLbs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthInches)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lifespan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domesticated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperment)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Breed">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Breed">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Breed">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
